ion-content{
  font-family: 'Poppins', sans-serif;
}
.signup-full{
  height: 100% !important;
  --background: white !important;
}

ion-item{
  color: #012C56 !important;
  --background: white !important;
}
ion-label{
  font-family: 'Poppins', sans-serif !important;
}
ion-input{
  font-family: 'Poppins', sans-serif !important;
  font-weight: 300;
}
ion-button{
  margin-top: 20px;
  --background: white !important;
}

.hasAnAccount{
  color: #56738F !important;
}

.terminos{
  font-size: 10px;
}
