<ion-content fullscreen>
  <!-- Skeleton Text -->
  <div class="skeleton" *ngIf="loading">
    <ion-item mode="ios" class="user">
      <div class="hero">
        <ion-grid fixed>
          <ion-row class="ion-align-self-center">
            <ion-col size="6" size-md="8" size-lg="7" class="ion-align-self-start">
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>
                    <ion-skeleton-text [animated]="true" style="width: 130px;"></ion-skeleton-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-skeleton-text [animated]="true" style="width: 150px;"></ion-skeleton-text>
                  </ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-col>
            <ion-col size="6" size-md="4" size-lg="5" class="ion-align-self-end">
              <div class="profile-image">
                <ion-avatar slot="end">
                  <ion-skeleton-text [animated]="true"
                    style="width: 80px; height:130px; bottom: 80px; margin-left: 15px;" class="imgSkeleton">
                  </ion-skeleton-text>
                </ion-avatar>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>

    <div class="container">
      <ion-list mode="ios">
        <ion-list-header>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </ion-list-header>

        <ion-item lines="full">

          <ion-label slot="start" class="title">
            <ion-skeleton-text [animated]="true" style="width: 60px"></ion-skeleton-text>
          </ion-label>
          <ion-label slot="end" class="userInfo">
            <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" class="title">
            <ion-skeleton-text [animated]="true" style="width: 60px"></ion-skeleton-text>
          </ion-label>
          <ion-label slot="end" class="userInfo">
            <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" class="title">
            <ion-skeleton-text [animated]="true" style="width: 60px"></ion-skeleton-text>
          </ion-label>
          <ion-label slot="end" class="userInfo">
            <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" class="title">
            <ion-skeleton-text [animated]="true" style="width: 60px"></ion-skeleton-text>
          </ion-label>
          <ion-label slot="end" class="userInfo">
            <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" class="title">
            <ion-skeleton-text [animated]="true" style="width: 60px"></ion-skeleton-text>
          </ion-label>
          <ion-label slot="end" class="userInfo">
            <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
          </ion-label>
        </ion-item>

      </ion-list>
    </div>
  </div>
  <!-- End Skeleton Text -->

  <div class="notLoading" *ngIf="!loading">
    <ion-item>
      <div class="hero">
        <ion-grid fixed>
          <ion-row class="ion-justify-content-center">
            <ion-col size="6" size-md="6" size-lg="6" class="ion-align-self-start">
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Perfil de</ion-card-subtitle>
                  <ion-card-title>{{profile.firstName}}
                  </ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-col>
            <ion-col size="6" size-md="6" size-lg="6" class="ion-align-self-end">
              <div class="profile-image" (click)="updateImage()">
                <ion-icon name="create"></ion-icon>
                <img [src]="profile.imageUrl ?? '/assets/default.jpg'" alt="Foto de Perfil">
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>

    <!-- Datos -->
    <div class="container">
      <ion-list mode="ios">
        <ion-list-header>
          Información Personal

        </ion-list-header>

        <ion-item lines="full">

          <ion-label slot="start" class="title">
            <ion-icon name="person-outline"></ion-icon>
            Nombre
          </ion-label>
          <ion-label slot="end" class="userInfo">{{profile.firstName}}</ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" class="title">
            <ion-icon name="person-outline"></ion-icon>
            Apellido
          </ion-label>
          <ion-label slot="end" *ngIf="profile.lastName !== null" class="ion-text-wrap userInfo"> {{profile.lastName}}
          </ion-label>
          <ion-label slot="end" class="ion-text-wrap userInfoNull" *ngIf="!profile.lastName">Sin datos</ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" class="title">
            <ion-icon name="mail-outline"></ion-icon>
            Email
          </ion-label>
          <ion-label slot="end" class="ion-text-wrap userInfo"> {{profile.email}}</ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" class="title">
            <ion-icon name="at-outline"></ion-icon>
            Usuario
          </ion-label>
          <ion-label slot="end" class="ion-text-wrap userInfo"> {{profile.username}}</ion-label>
        </ion-item>
        <ion-item lines="full">
          <ion-label slot="start" class="title">
            <ion-icon name="school-outline"></ion-icon>
            Sede
          </ion-label>
          <ion-label slot="end" class="ion-text-wrap userInfo"> {{profile.sede}}</ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" class="title">
            <ion-icon name="car-outline"></ion-icon>
            Chofer
          </ion-label>
          <ion-toggle color="warning" slot="end" [(ngModel)]="profile.esChofer" (ngModelChange)="esChofer($event)">
          </ion-toggle>
        </ion-item>
      </ion-list>

      <!-- Si el Usuario es Chofer -->
      <div class="esChofer" *ngIf="enablePaymentRange">
        <ion-list mode="ios">
          <ion-list-header>
            Información de Chofer
          </ion-list-header>
          <ion-item lines="full">
            <ion-label slot="start" class="title">Valor Por Viaje</ion-label>
            <ion-label slot="end" class="ion-text-wrap userInfo">{{profile.precio | currency:'CLP':'symbol-narrow'}}
            </ion-label>
          </ion-item>

          <ng-container *ngIf="profile.vehiculo!==undefined; else noVehicle">
            <ion-item lines="full">
              <ion-label slot="start" class="title">Vehículo</ion-label>
              <ion-label slot="end" class="ion-text-wrap userInfo">
                {{profile.vehiculo.modelo}}</ion-label>
            </ion-item>
            <ion-item lines="full">
              <ion-label slot="start" class="title">Marca</ion-label>
              <ion-label slot="end" class="ion-text-wrap userInfo">
                {{profile.vehiculo.marca}}</ion-label>
            </ion-item>
            <ion-item lines="full">
              <ion-label slot="start" class="title">Año</ion-label>
              <ion-label slot="end" class="ion-text-wrap userInfo">
                {{profile.vehiculo.anio}}</ion-label>
            </ion-item>
          </ng-container>

          <ng-template #noVehicle>
            <ion-item lines="full">
              <ion-label slot="start" class="title">Vehículo</ion-label>
              <ion-label slot="end" class="ion-text-wrap userInfoNull">Sin datos</ion-label>
            </ion-item>
            <ion-item lines="full">
              <ion-label slot="start" class="title">Marca</ion-label>
              <ion-label slot="end" class="ion-text-wrap userInfoNull">Sin datos</ion-label>
            </ion-item>
            <ion-item lines="full">
              <ion-label slot="start" class="title">Año</ion-label>
              <ion-label slot="end" class="ion-text-wrap userInfoNull">Sin datos</ion-label>
            </ion-item>
          </ng-template>

          <ion-item lines="none">
            <ion-range min="1500" max="5000" (ionChange)="paymentValue($event)"
              (ionKnobMoveEnd)="onPaymentUpdate($event)" [pin]="true" [pinFormatter]="pinFormatter"
              [value]="profile.precio">
              <ion-icon slot="end" name="cash" color="light"></ion-icon>
            </ion-range>
          </ion-item>
          <p class="moneyAdvice">Recuerda establecer un precio económico</p>
          <ion-button (click)="showCarForm()" fill="clear" color="warning" mode="ios" expand="full" size="small">
            Editar información de vehículo
          </ion-button>
        </ion-list>
      </div>

      <ion-button (click)="setOpen(true)" fill="outline" color="warning" mode="ios" expand="full" shape="round">Editar
        Perfil</ion-button>
      <ion-button (click)="logout()" fill="clear" color="warning" mode="ios" expand="full" size="small">Cerrar Sesión
      </ion-button>
    </div>
  </div>

  <!-- Modal de recorte de imagen -->
  <ion-modal [isOpen]="isCropModalOpen" class="cropImage" backdropDismiss="false">
    <ng-template>
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-title>Recortar Imagen</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cropImage()">
              <ion-icon slot="icon-only" name="checkmark"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="cropImage">
        <ion-row *ngIf="myImage">
          <ion-col size="3" class="ion-text-center">
            <ion-button fill="clear" (click)="rotate()">
              <ion-icon name="refresh" slot="start"></ion-icon> Rotar
            </ion-button>
          </ion-col>
          <ion-col size="3" class="ion-text-center">
            <ion-button fill="clear" (click)="flipHorizontal()"> Voltear X </ion-button>
          </ion-col>
          <ion-col size="3" class="ion-text-center">
            <ion-button fill="clear" (click)="flipVertical()"> Voltear Y </ion-button>
          </ion-col>
          <ion-col size="3" class="ion-text-center">
            <ion-button fill="clear" (click)="discardChanges()"> Desechar </ion-button>
          </ion-col>
        </ion-row>
        <image-cropper #cropper [imageBase64]="myImage" [maintainAspectRatio]="true" [aspectRatio]="1 / 1" format="png"
          [hideResizeSquares]="isMobile" [transform]="transform" [autoCrop]="false"
          (imageCropped)="imageCropped($event)" (loadImageFailed)="loadImageFailed()"
          (imageLoaded)="imageLoaded()"></image-cropper>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- Modal -->
  <form [formGroup]="profileForm" (ngSubmit)="confirm()">
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar mode="ios">
            <ion-buttons slot="start">
              <ion-button (click)="setOpen(false)">Cancelar</ion-button>
            </ion-buttons>
            <ion-title>Editar Perfil</ion-title>
            <ion-buttons slot="end">
              <ion-button [strong]="true" type="submit" (click)="confirm()">Confirmar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <ion-content class="ion-padding" id="editProfile">
          <div class="form-input">
            <ion-item mode="ios" class="editProfile">
              <ion-label position="floating">Nombre</ion-label>
              <ion-input type="text" autocapitalize autocorrect clearInput min="4" formControlName="firstName">
              </ion-input>
            </ion-item>
            <ion-note slot="error" *ngIf="(firstName.dirty || firstName.touched) && firstName.errors">
              Mínimo de 4 caracteres y un máximo de 30
            </ion-note>
          </div>
          <div class="form-input">
            <ion-item mode="ios" class="editProfile">
              <ion-label position="floating">Apellido</ion-label>
              <ion-input type="text" autocapitalize autocorrect clearInput min="4" formControlName="lastName">
              </ion-input>
            </ion-item>
          </div>
          <div class="form-input">
            <ion-item mode="ios" class="editProfile">
              <ion-label position="floating">Usuario</ion-label>
              <ion-input type="text" autocapitalize autocorrect clearInput min="4" maxlength="10"
                formControlName="username"></ion-input>
            </ion-item>
          </div>
          <div class="form-input">
            <ion-item mode="ios" class="editProfile">
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" clearInput formControlName="email"></ion-input>
            </ion-item>
          </div>
          <div class="form-input">
            <ion-item mode="ios" class="editProfile">
              <ion-label position="floating">Sede</ion-label>
              <ion-select interface="popover" placeholder="Selecciona tu sede" mode="ios" formControlName="sede"
                [value]="profile.sede">
                <ion-select-option [value]="sede.nombre" *ngFor="let sede of sedes">{{sede.nombre}}</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
  </form>
</ion-content>
