ion-content{
  font-family: 'Poppins', sans-serif;
}
.forgetPass-full{
  height: 100% !important;
  --background: white !important;
}

ion-item{
  color: #012C56 !important;
  --background: white !important;
}
ion-label{
  font-family: 'Poppins', sans-serif !important;
}
ion-input{
  font-family: 'Poppins', sans-serif !important;
  font-weight: 300;
}
ion-button{
  margin-top: 20px;
  --background: white !important;
}

.forgetPass{
  color: #56738F !important;
}
.signUp{
  color: #56738F !important;
}
.signUp b{
  color: #3A64FF !important;
  text-decoration: underline;
}
