<ion-content class="ion-padding forgetPass-full">
  <ion-grid fixed>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <img src="/assets/tellevo.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">

        <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)" class="loginForm">
          <ion-list class="list-ios">
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" placeholder="Email" name="email"
                pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" [(ngModel)]="usuario.email" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Nueva Contraseña</ion-label>
              <ion-input type="password" placeholder="Contraseña" name="password" [(ngModel)]="usuario.password" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Confirmar Contraseña</ion-label>
              <ion-input type="password" placeholder="Confirmar Contraseña" name="confirmPassword" [(ngModel)]="usuario.confirmPassword" required>
              </ion-input>
            </ion-item>
            <ion-button [disabled]="formulario.invalid" type="submit" fill="solid" color="warning" type="ios">
              Restablecer
            </ion-button>
            <!-- <p class="forgetPass" (click)="onForgetPass()">¿Olvidaste la contraseña?</p> -->
          </ion-list>
        </form>
        <ion-button fill="outline" color="primary" type="ios" (click)="exit()">
          Cancelar
        </ion-button>
        <!-- <p class="signUp">¿No tienes una cuenta? <b (click)="onSignUp()">Regístrate</b></p> -->
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
