.header{
  --background: #ffffff !important;
  align-items: center !important;
}
.footer{
  background-color: #ffffff !important;
  --background: transparent !important;
}
.footer-title{
  font-size: 0.5rem !important;
  text-align: center;
  color: rgb(112, 112, 112);
  font-family: 'Poppins', sans-serif !important;
  font-weight: 200 !important;
}
ion-content{
  --ion-background-color: #ffffff;
  align-items: center !important;
  font-family: 'Poppins', sans-serif !important;
}

.text-dark{
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
}
.p-dark{
  color: #535353;
  text-align: justify;
  font-weight: 200;
}
.p-dark b{
  color: #FFD534;
}
