<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="explorar">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Explorar</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ir">
      <ion-icon name="navigate-outline"></ion-icon>
      <ion-label>Ir</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="perfil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
