<ion-content>
  <div class="login-section ion-padding">
    <div class="header ion-padding">
      <h1>Recuperación de contraseña</h1>
      <p>Ingresa una nueva contraseña para tu cuenta</p>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="credentials">
      <div class="login-form">
        <div class="form-input">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating">CONTRASEÑA</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors" color="danger">La contraseña debe tener al menos 6 caracteres</ion-note>
        </div>
        <div class="form-input">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating">CONFIRMAR CONTRASEÑA</ion-label>
            <ion-input type="password" formControlName="confirmPassword"></ion-input>
          </ion-item>
          <ion-note slot="error" *ngIf="credentials.hasError('notEqual') && confirmPassword.touched" color="danger">Las contraseñas no coinciden</ion-note>
        </div>
      </div>
      <div class="action-buttons ion-padding">
        <ion-button class="resetPasswordButton" mode="ios" type="submit" [disabled]="!credentials.valid">
         Cambiar contraseña
        </ion-button>
        <ion-button class="login-button" fill="clear" routerLink="/login" mode="ios">
          Volver al login
        </ion-button>
      </div>
    </form>
  </div>

</ion-content>
