<ion-content overflow-scroll="true">
  <div class="login-section ion-padding">
    <div class="header ion-padding">
      <h1>Bienvenido</h1>
      <p>Inicia sesión para continuar</p>
    </div>
    <form (ngSubmit)="login()" [formGroup]="credentials">
      <div class="login-form">
        <div class="form-input">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating">EMAIL</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors" color="danger">El email es inválido</ion-note>
        </div>
        <div class="form-input">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating">PASSWORD</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
            <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors" color="danger">La contraseña debe tener un mínimo de 6 caracteres</ion-note>
          </ion-item>
        </div>
      </div>
      <div class="action-buttons ion-padding">
        <ion-button fill="clear" routerLink="/forget-pass" class="forget-pass" mode="ios">¿Olvidaste la contraseña? </ion-button>
        <ion-button class="login-button" mode="ios" type="submit" [disabled]="!credentials.valid">
          Iniciar sesión
        </ion-button>
        <ion-button class="signup-button" size="large" fill="outline" routerLink="/sign-up" mode="ios">
          Registrarse
        </ion-button>
      </div>
    </form>
  </div>

</ion-content>
