<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-card mode="ios" class="animate__animated animate__fadeIn">
    <ion-card-header>
      <ion-card-title>Obtener un aventón</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="arrow-forward-circle-outline" size="large" style="margin-top: 10px;" routerLink="/tabs/explorar"></ion-icon>
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios" class="animate__animated animate__fadeIn">
    <ion-card-header>
      <ion-card-title>Dar un aventón</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="arrow-forward-circle-outline" size="large" style="margin-top: 10px;" routerLink="/tabs/explorar"></ion-icon>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="footer">Desarrollado por Grupo 5</ion-title>
  </ion-toolbar>
</ion-footer>
