* {
  font-family: "Poppins", sans-serif;
}

ion-toolbar {
  --background: #f1f5f8;
}

ion-content{
  --background: #f1f5f8;
  ion-list{
    background: #f1f5f8;
    ion-item{
      --background: #f1f5f8;
    }
  }
}
