<!-- Skeleton Text -->
<ion-item lines="none" *ngIf="loading">
  <ion-grid fixed>
    <ion-row class="ion-padding ion-align-self-center">
      <ion-col size="4" sizeMd="2">
        <ion-avatar>
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-avatar>
      </ion-col>
      <ion-col size="3" sizeMd="2">
        <ion-label>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width: 40%;"></ion-skeleton-text>
        </ion-label>
      </ion-col>
      <ion-col size="5" sizeMd="8">
        <ion-label class="ion-text-wrap">
          <small>
            <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
          </small>
          <h5>
            <ion-skeleton-text [animated]="true" style="width: 90%;"></ion-skeleton-text>
          </h5>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
<!-- End Skeleton Text -->


<ion-item lines="none" *ngIf="!loading">
  <ion-grid fixed>
    <ion-row class="ion-padding ion-align-self-center">
      <ion-col size="4" sizeMd="2">
        <ion-avatar>
          <img [src]="profile.imageUrl ?? 'assets/default.jpg'" />
        </ion-avatar>
      </ion-col>
      <ion-col size="3" sizeMd="2">
        <ion-label>
          <h2>{{profile.firstName}}</h2>
          <h4>Chofer</h4>
        </ion-label>
      </ion-col>
      <ion-col size="5" sizeMd="8">
        <ion-label class="ion-text-wrap">
          <small>Sede:</small>
          <h5>Duoc UC: {{profile.sede}}</h5>
          <small>Precio Por Pasajero:</small>
          <h5>{{profile.precio | currency:'CLP':'symbol-narrow'}}</h5>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
