* {
  font-family: "Poppins", sans-serif;
}
ion-item {
  --background: #f1f5f8;
  padding: 0;
  margin: 14px 0;
  --border-radius: 14px;
  color: #343539;
  font-weight: 600;

  ion-avatar {
    --border-radius: 4px;
  }

  ion-label {
    padding: 6px 0;

    h5 {
      font-weight: 600;
      font-size: 10px;
    }
    h4 {
      color: #343539;
      font-size: 10px;
    }
    h2 {
      font-weight: 600;
      font-size: 14px;
    }
    small {
      font-weight: 200;
    }
  }
}

ion-list {
  background: transparent;

  .passengerRow {
    background: rgba(155, 155, 155, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-image: url("/assets/wave2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    ion-item {
      --background: transparent;
      .profile-name {
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        color: white;
        background-color: rgba(255, 255, 255, 0.18);
        padding: 5px;
        border: 1px solid white;
      }
      .profile-origin {
        font-size: 1rem;
        font-weight: 900;
        text-align: center;
        color: white;
      }
      .profile-origin p {
        font-size: 0.8rem;
        font-weight: 400;
        text-align: center;
        color: #3880ff;
        background-color: rgba(155, 155, 155, 0.185);
        padding: 5px;
        border: 1px solid white;
      }
    }
  }
  .profile-value {
    ion-label {
      color: white;
    }
  }
}

@media (min-width: 768px) {
  ion-item {
    ion-label {
      h5 {
        font-size: 25px;
      }
      h4 {
        font-size: 12px;
      }
      h2 {
        font-size: 24px;
      }
      small {
        font-size: 18px;
      }
    }
  }
}
